[Unit]
Description=Check the WireGuard LAN gateways every 10 s

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s

[Install]
WantedBy=timers.target
